/*!
 * /**
 *  * MSDropdown - dd.js
 *  * @author: Marghoob Suleman
 *  * @website: https://www.marghoobsuleman.com/
 *  * @version: 4.0.2
 *  * @date: Wed Oct 13 2021 15:19:38 GMT+0530 (India Standard Time)
 *  * msDropdown is free web component: you can redistribute it and/or modify
 *  * it under the terms of the either the MIT License or the Gnu General Public License (GPL) Version 2
 *  * /
 */
.ms-pr {
    position: relative
}

.ms-dd:focus-visible {
    box-shadow: 0 1px 5px #ddd;
    outline: none;
    outline-width: 0
}

.ms-dd {
    background: #eee;
    display: inline-block;
    font-family: Sans-Serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: top;
    outline-color: transparent;
    outline-width: 0;
    display: inline-block;
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 260px;
    margin-bottom: 2vh;
    margin-top: 1vh;
}

    .ms-dd button:focus, .ms-dd input:focus, .ms-dd select:focus, .ms-dd textarea:focus {
        outline: none
    }

    .ms-dd .ms-value-input {
        border: 0;
        left: 20px;
        position: absolute;
        text-align: center;
        vertical-align: middle;
        top: 10px;
        width: 50%;
        display: none;
    }

    .ms-dd .ms-dd-header {
        background: #f1f1f1;
        cursor: pointer;
        min-height: 35px;
        position: relative;
        width: 100%
    }

        .ms-dd .ms-dd-header .option-selected {
            color: #000;
            display: block;
            font-weight: 600;
            overflow: hidden;
            text-align: center;
            vertical-align: middle;
            padding: 10px 20px 10px 10px;
            pointer-events: none
        }

        .ms-dd .ms-dd-header a {
            display: block
        }

        .ms-dd .ms-dd-header .ms-list-counter, .ms-dd .ms-dd-header input[type=checkbox] {
            display: none
        }

        .ms-dd .ms-dd-header .ms-header-counter {
            color: #0e76a8;
            font-weight: 400
        }

        .ms-dd .ms-dd-header .ms-filter-box {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            padding: 6px 10px
        }

            .ms-dd .ms-dd-header .ms-filter-box input, .ms-dd .ms-dd-header .ms-filter-box input:focus, .ms-dd .ms-dd-header .ms-filter-box input:focus-visible {
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                height: 25px;
                padding-left: 6px;
                width: 100%
            }

                .ms-dd .ms-dd-header .ms-filter-box input:focus-visible {
                    outline: 1px solid transparent
                }

    .ms-dd .ms-dd-option-image, .ms-dd .ms-dd-selected-img {
        margin-right: 5px;
        max-width: 20px;
        max-height: 40px;
        text-align: center;
        vertical-align: middle;
        object-fit: contain;
        position: center
    }

    .ms-dd .ms-dd-arrow {
        height: 0;
        margin-top: -3px;
        text-align: center;
        vertical-align: middle;
        position: absolute;
        right: 10px;
        top: 50%;
        width: 0
    }

        .ms-dd .ms-dd-arrow.ms-dd-pointer-down {
        }

        .ms-dd .ms-dd-arrow.ms-dd-pointer-up {
            margin-top: -8px
        }

    .ms-dd .ms-options {
        text-align: center;
        vertical-align: middle;
        background: #fff;
        box-shadow: 0 1px 5px #ddd;
        display: none;
        list-style: none;
        margin: 0;
        overflow: auto;
        padding: 0;
        position: absolute;
        width: 100%;
        z-index: 9999
    }

    .ms-dd .ms-list-option, .ms-dd .ms-optgroup ul .ms-list-option {
        text-align: center;
        vertical-align: middle;
        align-items: center;
        color: #333;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
        padding: 10px;
        position: relative;
        text-decoration: none
    }

        .ms-dd .ms-list-option input[type=checkbox], .ms-dd .ms-optgroup ul .ms-list-option input[type=checkbox] {
            margin-right: 5px;
            text-align: center;
            vertical-align: middle;
        }

        .ms-dd .ms-list-option:last-child, .ms-dd .ms-optgroup ul .ms-list-option:last-child {
        }

        .ms-dd .ms-list-option:hover, .ms-dd .ms-optgroup ul .ms-list-option:hover {
            background: #f3f3f3;
            color: #000
        }

        .ms-dd .ms-list-option.option-selected, .ms-dd .ms-optgroup ul .ms-list-option.option-selected {
            background: #f6f6f6
        }

        .ms-dd .ms-list-option.ico-align-right .ms-dd-option-image, .ms-dd .ms-list-option.ico-align-right .ms-dd-selected-img, .ms-dd .ms-optgroup ul .ms-list-option.ico-align-right .ms-dd-option-image, .ms-dd .ms-optgroup ul .ms-list-option.ico-align-right .ms-dd-selected-img {
            order: 2
        }

        .ms-dd .ms-list-option.disabled, .ms-dd .ms-list-option:disabled, .ms-dd .ms-optgroup ul .ms-list-option.disabled, .ms-dd .ms-optgroup ul .ms-list-option:disabled {
            cursor: default;
            opacity: .4
        }

        .ms-dd .ms-list-option .ms-dd-desc, .ms-dd .ms-optgroup ul .ms-list-option .ms-dd-desc {
            color: #aaa;
            display: block;
            font-weight: 400;
            line-height: 1.5em;
            text-align: center;
            vertical-align: middle;
            overflow: hidden;
            text-shadow: 0 1px .5px #fff
        }

    .ms-dd .ms-header-middle-content, .ms-dd .ms-middle {
        display: flex;
        justify-content: center;
        width: 100%
    }

    .ms-dd.disabled, .ms-dd:disabled {
        cursor: default;
        opacity: .4;
        pointer-events: none
    }

    .ms-dd .ms-optgroup-padding {
        font-weight: 700;
        padding: 10px 10px 0
    }

    .ms-dd .ms-optgroup {
        display: block
    }

        .ms-dd .ms-optgroup:hover {
            background: #fff;
            color: #000
        }

        .ms-dd .ms-optgroup ul {
            margin: 0;
            padding: 0
        }

            .ms-dd .ms-optgroup ul .ms-list-option {
                padding-left: 20px
            }

            .ms-dd .ms-optgroup ul:last-child {
            }

    .ms-dd .ms-dd-option-content{
    }

:focus {
    outline: none
}
