@page
@model Presentation.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Booking";
}

@section Styles{
    <link href="@Url.Content("~/css/Login.css")" rel="stylesheet" type="text/css"/>
}

<div class="login-form">
    <form method="post">
        <h1>Login</h1>
        <div class="content">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="input-field">
                <input type="text" placeholder="Enter Username" required asp-for="Model.Username">
                <span class="text-danger" asp-validation-for="Model.Username"></span>
            </div>
            <div class="input-field">
                <input type="password" placeholder="Enter Password" required asp-for="Model.Password">
                <span class ="text-danger" asp-validation-for="Model.Password"></span>
            </div>
            <a href="#" class="link">Forgot Your Password?</a>
        </div>
        <div class="action">
            <a class="register" asp-page="Login">Register</a>
            <button type="submit">Sign in</button>
        </div>
    </form>
</div>